.crt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.crt {
    display: grid;
    grid-template-rows: repeat(6, 1rem);
    grid-template-columns: repeat(40,1rem);
    gap: 2px;
    justify-content: center;
    align-content: center;
    position: relative;
}

.crt-pixel {
    background-color: #cacaca;
    border-radius: 2px;
}

.crt-pixel.active::before {
    background-color: var(--main-theme-color);
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    border-radius: 50%;

    animation-name: cycleUpdate;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.crt-pixel.filled {
    background-color: black;
}

.sprite {
    width: 56px;
    height: 20px;
    content: "";
    background-color: #ff000070;
    position: absolute;
    border-radius: 2px;
    transform: translate(-2px,-2px);
    transition: transform 200ms;
}

.crt-parameters {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.crt-parameters > li {
    line-height: 1.5rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

.crt-parameters > li.crt-parameters-cycle {
    background-color: var(--main-theme-color);
    color: white;
}

.crt-parameters > li.crt-parameters-X {
    background-color: #ff000070;
}

.crt-parameters > li.crt-parameters-current-pixel {
    background-color: #00ff2270;
}

.instructions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 360px;
    list-style: none;
    align-content: space-around;
}

.instructions > li {
    padding: 0 .5rem;
}

@keyframes cycleUpdate {
    0% {
        transform: translateX(-16px);
    }
    100% {
        transform: translateX(0px);
    }
}