.controllers {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.controllers > button {
    background-color: var(--main-theme-color);
    color: #fff;
    border: none;
    width: 8rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    text-align: center;
    padding: .5rem 1.5rem;
    cursor: pointer;
}

.controllers > button:disabled {
    background-color: #797979;
}